@keyframes in_1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes out_1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ani-enter-active {
  animation: ani-in .2s;
}

.ani-leave-active {
  animation: ani-in .2s reverse;
}

@keyframes ani-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}