@import './tailwind.css';

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.remove-arrows::-webkit-outer-spin-button,
.remove-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrows {
  appearance: textfield;
}


@keyframes in_1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}