@import './tailwind.css';
@import url(./animation.css);

::-webkit-scrollbar {
  display: none;
}

.remove-arrows::-webkit-outer-spin-button,
.remove-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrows {
  appearance: textfield;
}